.cryptoSwapItem {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}



.inputBox,
.inputBox:focus {
    background: transparent;
    border: none;
    outline-width: 0;
}

/* hides the up down button for input type=number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}