.inputSlider {
  overflow: hidden;
  width: 200px;
  height: 15px;
  -webkit-appearance: none;
  background-color: #6b6e70;
  border-radius: 10px;
}

.inputSlider::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  background: #61892f;
  box-shadow: -120px 0px 0px 120px #86c232;
}

.minus:hover {
  cursor: pointer;
}
