/* 
.navbar{
    justify-content: flex-end;
    padding-right: 30px !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: large !important;
}
*/
.antdMenu {
  border: none !important;
  border-radius: 0 !important;
  font-size: large !important;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 40px;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: large !important;
}

.leftItem {
  flex: 2;
}

.rightItems {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.hamburgerMenu {
  cursor: pointer;
}

@media (min-width: 500px) {
  .antdMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .rightItems {
    flex: 4;
  }
}
