/* This file is for custom antd framework css */
/*
#61892F darkGreen : emphasis for text and borders e.g. on hover
#86C232 lightGreen : text and borders
#222629 blackish : background
#474B4F dark grey : emphasis for smaller items? e.g. on hover
#6B6E70 light grey :  smaller items?
*/
/* .ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item:focus,
.ant-menu > .ant-menu-submenu:focus,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: red !important;
  border-bottom: none !important; 
} */

/* placeholder text coor */
::placeholder {
  color: #6b6e70 !important;
}

/* ant menu (nav bar) */

.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
.ant-menu-submenu-title {
  color: #86c232 !important;
}

.ant-menu-submenu-title:hover {
  color: #61892f !important;
}

/* the submenu that opens up upon clicking */
.ant-menu {
  color: #86c232 !important;
  background-color: transparent !important;
  border: 1px solid #61892f;
  border-radius: 10px !important;
  font-size: large !important;
}

.ant-menu-item:active,
.ant-menu-item:hover {
  color: #61892f !important;
  background-color: transparent !important;
}

.ant-menu-item-selected,
.ant-menu-submenu-title {
  color: #86c232 !important;
  background-color: transparent !important;
}

.ant-menu-submenu-arrow {
  color: #86c232 !important;
}

.ant-menu-title-content {
  color: #86c232 !important;
  :hover {
    color: #61892f !important;
  }
}

/* antd button primary type; i.e. type='primary' */
.ant-btn-primary {
  background-color: transparent !important;
  border: 1px solid #86c232 !important;
  color: #86c232 !important;
}

.ant-btn-primary:hover {
  background-color: #6b6e70 !important;
  /* color: #474B4F !important; */
}

.ant-btn-primary:active {
  background-color: #61892f !important;
  /* color: #6B6E70 !important; */
}
.ant-btn-primary:disabled {
  background-color: #474b4f !important;
}

/* antd modal */
.ant-modal-content {
  background-color: #222629 !important;
  border-radius: 10px !important;
  color: #86c232 !important;
  border: 2px solid #222629 !important;
  box-shadow: 0 0 10px #86c232 !important;
}
.ant-modal-header {
  background-color: #222629 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  /* border-bottom-color: #6B6E70 !important; */
  border-bottom: none !important;
}
.ant-modal-footer {
  border-top: none !important;
}

.ant-modal-close {
  color: #86c232 !important;
}
.ant-modal-close:hover {
  color: #61892f !important;
}
.ant-modal-title {
  color: #86c232 !important;
  font-weight: 700 !important;
  /* text-align: center; */
}
/* antd input */
.ant-input {
  background-color: transparent !important;
  color: #86c232 !important;
}
.ant-input-prefix {
  color: #86c232 !important;
}

.class-name-custom-ant-input {
  width: 100%;
  border-radius: 10px !important;
  background-color: transparent !important;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: <explanation> */
  background: transparent !important;
  border-color: #86c232 !important;
}

/* notification */
.ant-notification-notice {
  background-color: #222629 !important;
  border: 1px solid #86c232;
  border-radius: 10px !important;
}
.ant-notification-notice-icon,
.ant-notification-notice-description {
  color: #86c232 !important;
}
.ant-notification-notice-message {
  color: #86c232 !important;
  font-weight: 700;
}

/* Drawer */
.ant-drawer-close {
  position: absolute;
  /* top: 0; */
  right: 0;
  background-color: #222629 !important;
}
.ant-drawer-header {
  background-color: #222629 !important;
}
.ant-drawer-body {
  background-color: #222629 !important;
}

/* popconfirmation */
.ant-popover-inner-content,
.ant-popover-arrow-content::before {
  background-color: #222629 !important;
  border: 1px solid #86c232 !important;
}
.ant-popover-message {
  color: #86c232 !important;
}
.ant-popover-buttons {
  width: max-content;
}
