.test {
  color: red;
  border: 1px solid red;
}

hr {
  border-color: #86c232;
}

a {
  color: #86c232 !important;
}

a:hover {
  color: #61892f !important;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  /* width: 20px; */
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #86c232;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #86c232;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #61892f;
  cursor: pointer !important;
}

/* custom framework */
/* fonts */
.fw-700 {
  font-weight: 700;
}
.fs-xs {
  font-size: x-small;
}

/* margins */
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}

/* padding */
.pt-5 {
  padding-top: 5px;
}
.pr-15 {
  padding-right: 15px;
}

/* color */
.color-light-grey {
  color: #6b6e70;
}

/* Glowing Border */
.glowing-border {
  box-shadow: 0 0 15px #86c232;
  animation: glowing-border 2s linear infinite alternate;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 15px #86c232;
  }
  50% {
    box-shadow: 0 0 15px #6b6e70;
  }
  100% {
    box-shadow: 0 0 15px #86c232;
  }
}
