/* 
.navbar{
    justify-content: flex-end;
    padding-right: 30px !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: large !important;
}
*/
.antdMenu{
  border: none !important;
  border-radius: 0 !important;
  font-size: large !important;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 40px;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: large !important;
}

.leftItem {
  margin-right: auto;
}

.rightItems {
  margin-left: 20px;
}

.hamburgerMenu{
  cursor: pointer;
}
