.cryptoSwapItem {
  background-color: transparent;
  border: 2px solid #6b6e70;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.inputBox {
  font-size: 24px;
  color: #86c232;
}

.inputBox,
.inputBox:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}

.numberInput {
  width: 90%;
}

.inputSlider {
  overflow: hidden;
  width: 200px;
  height: 15px;
  -webkit-appearance: none;
  background-color: #6b6e70;
  border-radius: 10px;
}

.inputSlider::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  background: #61892f;
  box-shadow: -120px 0px 0px 120px #86c232;
}

.minus:hover {
  cursor: pointer;
}

@media only screen and (max-width: 494px) {
  .numberInput {
    width: 200%;
  }
}
